<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" 
     href="{{ url_for('static', filename='styles/main.css') }}"> 
     <!-- flask for path to css style -->
    <script type="text/javascript"
    src="{{ url_for('static', filename='scripts/main.js') }}">
    </script>
</head>

<body>
<nav> 
<h1> Welcome To Dungeons and Dragons Made EZ! </h1> 
<div class="dropclass">
    <button id="dropdownbtn" class="dropbtn">login</button>
    <div id="mydropdown" class="dropdown-content hidden">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
</nav>

{% block page_content %}
{% endblock %}

<div id="test">1</div>


</body>

<html>